html {
  background-color: #292929;
}

.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.banner-container img {
  width: 100%;
}

.logo-container {
  text-align: center;
}

.cardapio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}